<div class="container">
	<div class="row">
		<div class="col-md-4 footer-leftcol">
			<p><span class="bold-16p">New Jersey</span><br>
			101 Warren Road<br>
			West Orange N.J. 07052 - <a href="#">info@domain.com</a>
			</p>
		</div>
		<div class="col-md-4 footer-midcol">
			<ul>
				<li><a href="#" class="twitter-icon">Twitter</a></li>
				<li><a href="#" class="facebook-icon">Facebook</a></li>
				<li><a href="#" class="pintrest-icon">Pintrest</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>